body {
  background-image: url('img/Animal.jpg');
  background-size: cover;
  background-position: center;
  font-family: Tahoma, sans-serif;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
  font-size: 36px;
  background-color: bisque;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 8px ;
}

p {
  color: white;
  font-size: 1.1rem;    
  font-weight: 300;      
  letter-spacing: 0.5px;  
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  padding: 20px 40px;    
  border-radius: 50px;   
  border: 1px solid rgba(255, 255, 255, 0.3); 
  max-width: 600px;        
  margin: 20px auto;     
  line-height: 1.5;
  text-align: center;
  
}

img {
  width: 500px;
  height: 300px;
  margin: 20px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  object-fit: cover;
  display: block; 
  position: relative;
  z-index: 10;
   backdrop-filter: none !important; 
  filter:none !important;
}

caption {
  color: darkolivegreen;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  background-color: bisque;
}

table {
  border-collapse: collapse;
  width: 85%;
  margin: 30px auto;
  overflow: hidden;
   border: 1px solid rgba(255, 255, 255, 0.1);
  background-color:rgba(255, 255, 255, 0.1);
  border-radius: 50px;
   backdrop-filter: blur(10px);  
}

th {
  background-color: darkolivegreen;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 14pt;
}

td {
  background-color: antiquewhite;
  text-align: center;
  padding: 12px;
  font-size: 14pt;
}

a {
  text-decoration: none;
  background-color: darkolivegreen;
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 18px;
  color: aliceblue;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  width: 220px;
}

 div:not(.image-container):not(.buttons) {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(15px);          
  padding: 50px;
  border-radius: 30px;                 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  max-width: 450px;                    
  margin: 50px auto;                   
}
.ending-box {
  padding: 40px 60px;    
  max-width: 650px;       
  line-height: 1.8;       
  text-align: center;
  font-style: italic;    
}

label {

  color: white;             
  margin-top: 15px;
  font-size: 14pt;
  align-self: flex-start;   
  margin-left: 5%;         
  background: none;       
  border: none;             
}
  
input {
 
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  font-size: 12pt;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;                         
  outline: none;
}

