body {
  background-image: url('Imgs/Animal.jpg');
  background-size: cover;
  background-position: center;
  font-family: Tahoma, sans-serif;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
  font-size: 36px;
  background-color: bisque;
  border: 4px outset darkolivegreen;
  border-radius: 20px;
  padding: 8px ;
}

p {
  color: antiquewhite;
  font-size: 14pt;
  border-radius: 20px;
  border: 3px outset antiquewhite;
  padding: 20px 30px;
  margin: 30px auto;
  text-align: center;
  max-width: 800px;
}

img {
  width: 500px;
  height: 300px;
  margin: 20px auto;
  border: 5px inset darkolivegreen;
  background-color: bisque;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
}


caption {
  color: darkolivegreen;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  background-color: bisque;
}

table {
  border-collapse: collapse;
  width: 85%;
  margin: 30px auto;
  border-radius: 10px;
  overflow: hidden;
}


th {
  background-color: darkolivegreen;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 14pt;
}

td {
  background-color: antiquewhite;
  text-align: center;
  padding: 12px;
  font-size: 14pt;
}

a {
  text-decoration: none;
  background-color: darkolivegreen;
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 18px;
  color: aliceblue;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  width: 220px;
}

button {
  text-decoration: none;
  background-color: darkolivegreen;
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 18px;
  color: aliceblue;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  width: 220px;
}


 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: darkgreen;
  margin-top: 10px;
  font-size: 16pt;
  background-color: bisque;
  border-radius: 10px;
  border: 2px solid darkolivegreen;
  padding: 5px 10px;
  
}

input {
  width: 90%;
  padding: 8px;
  margin: 13px 0;
  font-size: 14pt;
  border-radius: 10px;
  border: 2px solid darkolivegreen;
}